<html lang="en">
<head>
<meta charset="UTF-8">
<title>Student Management System</title>
<link rel="stylesheet" href="/static/login.css">
</head>

<body>
      <div class="center">
         <div>
            <h1>Student Management System</h1>
         </div>
          <div class="wrapper">
               <div class="container1">
                  <div class="login">Teacher Log In</div>
                     <div class="login-form">
                        <input type="text" placeholder="Email or Username" class="input"><br />
                        <input type="password" placeholder="Password" class="input"><br />
                        <div class="btn">log in</div>
                     </div>
               </div>
               <div class="container2">
                  <div class="signup">Teacher Sign Up</div>
                     <div class="signup-form">
                        <input type="text" placeholder="Enter Full Name" class="input"><br />
                        <input type="text" placeholder="Your Email Address" class="input"><br />
                        <input type="password" placeholder="Choose a Password" class="input"><br />
                     <div class="btn">Create account</div>
                  </div>
               </div>
         </div>
      </div>
    </body>
</html>